<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            HomePage.jsp
        </welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>DoUpDate</servlet-name>
        <servlet-class>sevletDU.DoUpDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunwayUpload</servlet-name>
        <servlet-class>RunwayUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightUpload</servlet-name>
        <servlet-class>FlightUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromDBP</servlet-name>
        <servlet-class>sevletDU.DeleteFromDBP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingData</servlet-name>
        <servlet-class>BookingData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromDBT</servlet-name>
        <servlet-class>sevletDU.DeleteFromDBT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalbooking</servlet-name>
        <servlet-class>finalbooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoUpDate</servlet-name>
        <url-pattern>/DoUpDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunwayUpload</servlet-name>
        <url-pattern>/RunwayUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightUpload</servlet-name>
        <url-pattern>/FlightUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromDBP</servlet-name>
        <url-pattern>/DeleteFromDBP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingData</servlet-name>
        <url-pattern>/BookingData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromDBT</servlet-name>
        <url-pattern>/DeleteFromDBT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalbooking</servlet-name>
        <url-pattern>/finalbooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
